<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eprzychodnia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Eprzychodnia"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".AdmWizytySzczegoly"
            android:exported="false" />
        <activity
            android:name=".PotrzebneLogowanie"
            android:exported="false" />
        <activity
            android:name=".PacOdwWizytyPotw"
            android:exported="false" />
        <activity
            android:name=".AddAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".HistWizytPacSzczegoly"
            android:exported="false" />
        <activity
            android:name=".AdmWizyty"
            android:exported="false" />
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".PacPotwWizyty"
            android:exported="false" />
        <activity
            android:name=".PacWizyty"
            android:exported="false" />
        <activity
            android:name=".PracWybrLek"
            android:exported="false" />
        <activity
            android:name=".Historia_wizyt"
            android:exported="false" />
        <activity
            android:name=".Lista_lekarzy"
            android:exported="false" />
        <activity
            android:name=".grafik"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>